# Vector Exercises

## Exercise 1

|Name|Midterm|Final|
|:-----|:---:|:---:|
|Ali|72|85|
|Gamze|55|70|
|Ömer|84|91|
|Selin|68|83|
|Buğra|65|50|
|Deniz|45|54|
|Bilal|96|89|


In the table above, you can see the midterm and final grades of 7 students in a computer science class. Using the information given to you;

1) Create a vector called **midterm** that stores the midterm grades of the students. The names of the elements should be the students' names.

In [3]:
midterm <- c(72, 55, 84, 68, 65, 45, 96)
names(midterm) <- c("Ali", "Gamze", "Ömer", "Selin", "Buğra", "Deniz", "Bilal")

2) Create a similar vector for **final** grades.

In [4]:
final <- c(85, 70, 91, 83, 50, 54, 89)
names(final) <- c("Ali", "Gamze", "Ömer", "Selin", "Buğra", "Deniz", "Bilal")

3) Create a similar vector called **overall** that stores the average grade of each student.

In [5]:
overall <- (midterm + final)/2
names(overall) <- c("Ali", "Gamze", "Ömer", "Selin", "Buğra", "Deniz", "Bilal")

4) Combine these three vectors together and name it **combined**. Each grade should have the name of its student.

In [6]:
combined<- c(midterm, final, overall)

## Exercise 2

1) Create a vector that stores every integer from 1 to 100 in ascending order and name it **numbers**.

In [7]:
numbers <- c(1:100)

2) Delete the first and last 10 elements of that vector and update it.

In [8]:
numbers <- numbers[-(1:10)]
numbers <- numbers[-(81:90)]

3) Calculate the minimum, maximum, average, sum and product of the “numbers” vector and store them in a new vector called “stats”. Make sure the new vector has the appropriate names.

In [9]:
stats <- c(min(numbers), max(numbers), mean(numbers), sum(numbers), prod(numbers)) 
names(stats) <- c("minimum", "maximum", "average", "sum", "product")

## Exercise 3

A hardware store sells 5 different types of screwdrivers. Their prices are as follows: 18, 16, 34, 11, 8.

1) Assign these values to a vector called **prices**.

In [10]:
prices <- c(18, 16, 34, 11, 8)

2) The store wants to do a discount on the screwdrivers. For screwdrivers priced lower than 15 TL’s the store will apply a 10% discount whereas screwdrivers priced higher than 20 TL’s will be subject to a 20% discount. Assign the new prices to a vector called **new_prices**.

In [11]:
new_prices <- c(18*0.8, 16*0.8, 34*0.8, 11*0.9, 8*0.9)

3) Hasan bought one of each screwdriver before the discount while Ahmet bought them after the discount. Calculate the difference between what they paid and name it **difference**.

In [12]:
difference <- sum(prices) - sum(new_prices)

## Exercise 4

A pharmaceutical company has 8 warehouses in Turkey. Number of units held as stock in these warehouses are 1600, 700, 2400, 3200, 500, 1300, 2100 and 1800.

1) Assign these values to a vector called **stock**.

In [13]:
stock <- c(1600, 700, 2400, 3200, 500, 1300, 2100, 1800)

2) The company wants to combine locations 2,5 and 6 into a single warehouse. Isolate these warehouses and assign them to a new vector called **temp**. Calculate the total amount of stock in these 3 warehouses.

In [14]:
temp <- c(stock[2], stock[5], stock[6])
total_stock <- sum(temp)

3) Remove these 3 warehouses from the **stock** vector. Add the stock in the new warehouse to the end of the vector and call it **new_stock**.

In [15]:
remove <- c(2,5,6)
stock <- stock[-(remove)]
new_stock <- c(stock, total_stock)

## Exercise 5

The business department of a university has 12 new graduates and their gpa’s are as follows: 3.28, 3.56, 2.15, 2.87, 3.04, 3.80, 2.38, 2.56, 3.94, 3.12, 2.97, 2.52.

1) Assign these values to a vector called **gpa**.

In [1]:
gpa <- c(3.28, 3.56, 2.15, 2.87, 3.04, 3.80, 2.38, 2.56, 3.94, 3.12, 2.97, 2.52)

2) Sort this vector in descending order and update it.

In [3]:
gpa <- sort(gpa, decreasing = TRUE)
gpa

 [1] 3.94 3.80 3.56 3.28 3.12 3.04 2.97 2.87 2.56 2.52 2.38 2.15

In [10]:
gpa[gpa > 3 & gpa < 3.5]

[1] 3.28 3.12 3.04

In [11]:
names(gpa[gpa > 3 & gpa < 3.5]) <- rep("honor", 3)

In [12]:
gpa

 [1] 3.94 3.80 3.56 3.28 3.12 3.04 2.97 2.87 2.56 2.52 2.38 2.15

3) Students who finish the department with a gpa higher than 3.00 are awarded an **honor** degree and students who finish it with a gpa higher than 3.50 are awarded a **high honor** degree. The most successful graduate is called **valedictorian** and second most successful graduate is called **salutatorian**. Create a vector which stores the title or the degree certificate of each graduate in decending order and name it ""title"". You can name the graduates whose gpa are below 3.00 as **regular**.

In [4]:
rep("honor", 3)

[1] "honor" "honor" "honor"

In [6]:
title <- c("valedictorian", "salutatorian", "high honor", rep("honor", 3), rep("regular", 6))
title

 [1] "valedictorian" "salutatorian"  "high honor"    "honor"
 [5] "honor"         "honor"         "regular"       "regular"
 [9] "regular"       "regular"       "regular"       "regular"

In [18]:
title <- c("valedictorian", "salutatorian", "high honor", "honor", "honor", "honor", "regular", "regular", "regular", "regular", "regular", "regular")

4) Assign these titles as the names of the **gpa** vector.

In [19]:
names(gpa) <- title

## Exercise 6

Ross Geller and Chandler Bing are two brokers in Wall Street. Ross’ initial net asset value is 20000 dollars and Chandler’s initial net asset value is 30000 dollars. They bet on whose net asset value will be higher after 10 months. 

Ross is on a lucky streak. His net asset value is increasing 1200 dollars per month for the next 10 months. In contrast, Chandler is going through a rough patch. His net asset value is decreasing 800 dollars  per month for the next 10 months.

Their boss promises them to give 1000 dollars for every month in which their net asset value is above 25000 dollars.

1) Create a sequence called **ross_value** consisting of Ross’ asset values for each month.

In [14]:
ross_value <- seq(from = 20000, length.out = 10, by = 1200)
ross_value

 [1] 20000 21200 22400 23600 24800 26000 27200 28400 29600 30800

2) Create a sequence called **chandler_value** consisting of Chandler’s asset values for each month.

In [15]:
chandler_value <- seq(from = 30000, length.out = 10, by = -800)

3) Create a vector called **rvabove** consisting of Ross’ asset values that are above 25000 dollars.

In [17]:
rvabove <- ross_value[ross_value > 25000]
rvabove

[1] 26000 27200 28400 29600 30800

4) Create a vector called **cvabove** consisting of Chandler’s asset values that are above 25000 dollars.

In [23]:
cvabove <- chandler_value[chandler_value > 25000]

5) Calculate their net asset value at the end of the last month, including the money their boss promised and assign them to variables called **rfvalue** and **cfvalue**.

In [18]:
ross_value[10]

[1] 30800

In [24]:
rfvalue <- ross_value[10] + length(rvabove)*1000
cfvalue <- chandler_value[10] + length(cvabove)*1000

6) Create a vector called **winner** that consists of the name of the winner and his final asset value.

In [25]:
winner <- max(rfvalue, cfvalue)
names(winner) <- "Ross"