In [ ]:
options(jupyter.rich_display = FALSE)

# LAB 02 - VECTORS

## Warm Up

Given the variables

```r
account_balance <- 1000
interest_rate <-  0.10
```
 
 update the variable **account_balance** by adding the interest and print the updated value.

In [ ]:
# write your code lines below

account_balance <- 1000
interest_rate <- 0.10

account_balance <- account_balance + (account_balance * 0.10)
account_balance 

# end of your code

An employee wants to calculate the raise in dollar amount and in percent (%) she got last week. 

```r
previous_salary <- 5000
current_salary <- 5200
```

show the raise (in dollars) and (in percent).

In [ ]:
previous_salary <- 5000
current_salary <- 5200

raise_indollars <- current_salary - previous_salary
raise_inpercent <- (raise_indollars/previous_salary) * 100

raise_indollars
raise_inpercent

#  Vectors

## Initialization, Arithmetics & Functions

Let's initalize two vectors where **A** has 4, 6, 7 and **B** has 2, 14, 9.

Find the the results for: 

```r
A + B, 
A - B, 
A * B, 
A / B, 
2 * (A + B) - 3
```

In [ ]:
# write your code lines below

A <- c(4, 6, 7)
B <- c(2, 14, 9)

A + B
A - B
A * B
A / B
2 * (A + B) - 3

# end of your code

Let's initialize vector **C** with values 5, 8, 11, 5, 2, 1

Find the results for:

```r
C > A
C + A
C + (B * 3)
```

In [ ]:
# write your code lines below
C <- c(5, 8, 11, 5, 2, 1)

C > A
C + A
C + (B *3)
# end of your code

Let's:

 1. add up all elements in **A**
 2. multiply all elements in **B**

_(hint: use built-in functions, `sum()` and `prod()`)_

In [ ]:
# write your code lines below
A
sum(A)
cumsum(A)

B
prod(B)
cumprod(B)
# end of your code

## Vector Indexing

Let's initialize vector for the **students** of Beacon Hills High School (Jason, Lydia, Scott and Stiles) and print the vector.

In [ ]:
# write your code lines below

students <- c("Jason", "Lydia", "Scott", "Stiles")
students

students 
# end of your code

Then add a new transfer student **"Allison"** to the vector and print the updated vector.

In [ ]:
# write your code lines below

students <- c(students, "Allison")
students
# end of your code

Finally show the number of students.

_Hint: You can use `length()` function_

In [ ]:
# write your code lines below

length(students)

# end of your code

Now, let's list the students:

 1. 1st student
 2. 3rd student 
 3. 2nd and 4th students
 4. from 2nd to 4th student

In [ ]:
# write your code lines below

students[1]
students[3]
students[c(2,4)]
students[2:4]

# end of your code

Now, list the students by excluding: 
 
 1. 5th student
 2. 2nd and 3rd students

In [ ]:
# write your code lines below

students[-5]
students[c(-2, -3)]

# end of your code

use `TRUE` and `FALSE` statements to list the students:

 - 2nd and 4th students

In [ ]:
# write your code lines below
students[c(F,T,F,T,F)]
# OR
students[c(F,T)]
# end of your code

## Question 1

Suppose you have two vectors x and y with the following data:

```r
x <- c(1, 2, 3, 4, 5)

y <- c(2, 3, 5, 6, 7)

```

What is the dot product of x and y?

Your output should be:


```r
82

```

**Solution:**

The dot product of two vectors x and y is defined as the sum of the products of corresponding entries in the vectors. In other words:

x . y = x1 * y1 + x2 * y2 + ... + xn * yn

So the solve this we can use the "sum" function with vectorized multiplication.

In [6]:
x <- c(1, 2, 3, 4, 5)
y <- c(2, 3, 5, 6, 7)
dot_prod <- sum(x * y)
dot_prod

[1] 82

## Named vectors

Let's create a new 
vector for the grades of the students in Beacon Hills High for the subject Math.

|Name|Grade|
|:---|:---:|
|Jason|46|
|Lydia|98|
|Scott|51|
|Stiles|84|
|Allison|unknown (because she just transferred)|

_Hint: You can use `names()` to assign names to a vector_

In [ ]:
# write your code lines below

#grades <- c(Jason=46, Lydia = 98, Scott = 51, Stiles = 84, Allison = NA)
#grades

grades <- c(46, 98, 51, 84, NA)
people <- c("Jason", "Lydia", "Scott", "Stiles", "Allison")

names(grades) <- people

grades
people
# end of your code

Now retrieve the grades of **Stiles** and **Scott**.

In [ ]:
# write your code lines below

grades[3]
grades["Scott"]

grades[c("Scott", "Stiles")]
# end of your code

Let's assign a grade for **"Allison"** now that she took her first Math exam in Beacon Hills High which is **76**.

Show the grades vector **before** and **after** updating Allison's grade.

In [ ]:
# write your code lines below
grades
grades["Allison"] <- 76
grades
# end of your code

Now, let's find out the students that got grades **higher than 60** and their grades.

In [ ]:
# write your code lines below

grades > 60

grades[grades>60]

# end of your code

Suddenly, Math Proffessor decides to add up **5** points to students whose grades are lower than **60** for the sake of motivation for the next exam.

Show grades vector before and after updating it  accordingly.

In [ ]:
# write your code lines below
grades
grades[grades<60] <- grades[grades<60] + 5
grades

# end of your code

Now Let's try to sort the grades vector in descending order.

_Hint: We will use another built-in function, `sort()`_

In [ ]:
# write your code lines below

sort(grades)
sort(grades, decreasing=TRUE)
grades

#grades <- sort(grades, decreasing=TRUE)
grades
# end of your code

How about sorting grades vector based on students desk numbers?

First create a new vector for desk numbers.

|Name|desk number|
|:---|:---:|
|Jason|2|
|Lydia|1|
|Scott|5|
|Stiles|5|
|Allison|3|

Then use this new vector to sort **grades** vector.

_Hint: Use `order()` function._

In [ ]:
# write your code lines below

desk_numbers <- c(Jason=2, Lydia=1, Scott=5, Stiles = 5, Allison = 3)

order(desk_numbers)
desk_numbers
grades[order(desk_numbers)]

# end of your code

Finally, let's remove **Scott** from the grades vector, because he decides to be a wanderer werewolf - no longer a student.

Show grades vector before and after removing **Scott**.

In [ ]:
# write your code lines below
grades
grades <- grades[-3] #["Scott"]
grades
# end of your code

## Question 2

In order to convert a weight from kilograms to pounds, you need to use a conversion factor of 2.20462. This factor is used because there are approximately 2.20462 pounds in one kilogram. With using that information ;

```r

kilograms <- c(80, 93, 147, 53, 71, 18, 140)

```

Convert these measurements to pounds.

Your output should be:


```r
176.36960 205.02966 324.07914 116.84486 156.52802  39.68316 308.64680

```

In [8]:
kilograms <- c(80, 93, 147, 53, 71, 18, 140)
pounds <- kilograms * 2.20462
pounds

[1] 176.36960 205.02966 324.07914 116.84486 156.52802  39.68316 308.64680

## Generating sequences

Create and store a sequence of values from 25 to 90 (increase by 1) by:

Use `seq()` function and `:` operator

In [ ]:
# write your code lines below

s1 <- seq(25, 90, 1)
s2 <- 25:90

s1
s2

# end of your code

Create and store a sequence of values from 5 to −11 that progresses in steps of 0.3.

In [ ]:
# write your code lines below

s3 <- seq(from=5, to=-11, by=-0.3)
s3

# end of your code

## Exercises from Lecture

A set of temperature measurements are given in Fahrenheit scale as follows:

```r
    temperatures <- c(87, 89, 101, 91, 86, 71, 76)
```

Convert these measurements to Celsius scale.

In [ ]:
# write your code lines below

# T(°C) = (T(°F) - 32) / 1.8
temperatures <- c(87, 89, 101, 91, 86, 71, 76)
celcius <- (temperatures - 32 ) / 1.8

celcius

# end of your code

Consider the following data

|Country|Area|Population|
|------|------|------|
|Russia|17,098,242|142,257,519|
|United States|9,833,517|326,625,791|
|China|9,596,960|1,379,302,771|                                    
|Brazil|8,515,770|207,353,391|                
|Australia|7,741,220|23,232,413|
|India|3,287,263|1,281,935,911|
|Turkey|783,562|80,845,215|
|France|643,801|67,106,161|
|Japan|377,915|126,451,398|
|United Kingdom|243,610|65,648,100|

1. Create two vectors **area** and **population** that hold the data in the respective columns. Label the elements in each vector with the country name.

2. Create a new vector called **density** that holds the population density of the countries.

3. Print the names of countries sorted by population density, in descending order (from highest to lowest).

In [ ]:
# write your code lines below

# 1
area <- c(Russia=17098242, UnitedStates=9833517, China=9596960,
          Brazil=8515770, Australia=7741220, India=3287263,
          Turkey=783562, Japan=377915, UnitedKingdom=243610)


population <- c(Russia=142257519, UnitedStates=326625791, China=1379302771,
                Brazil=207353391, Australia=23232413, India=1281935911,
                Turkey=80845215, Japan=126451398,  UnitedKingdom=65648100)

# 2

density <- population / area
density

# 3

sort(density, decreasing=TRUE)
names(sort(density, decreasing=TRUE))

# end of your code

## Question 3
 MGM's one week weather estimations are respectively 15,16,13,15,14,14,17 C° from Sunday to Saturday. Measured temperatures for that week are 17 C° for each day.
 First assign the estimated values of MGM to vector named "estimations" and compare to the real values.
 For comparison, what is the mean difference between estimations and real values?
 Which days are coincide with forecast?

In [9]:
estimations <- c(Sunday=15, Monday=16, Tuesday=13, Wednesday=15, Thursday=14, Friday=14, Saturday=17)
estimations
mean_error <- mean(estimations - 17)
mean_error
estimations[estimations-17 == 0]

   Sunday    Monday   Tuesday Wednesday  Thursday    Friday  Saturday
       15        16        13        15        14        14        17

[1] -2.142857

Saturday
      17

## Question 4

In the first 18 seasons of "Family Guy," there are a total of 1008 episodes. The show features a large cast of characters, including the Griffin family (Peter, Lois, Meg, Chris, and Stewie), their neighbors (Quagmire, Cleveland, and Joe), and other recurring characters (such as Brian, the family dog).

Based on available data, we know that:

On average, each episode is approximately 30 minutes long.

The average speaking rate of a character on the show is approximately 120 words per minute.

Assuming that the main characters( Peter, Lois, Meg, Chris, Stewie and Brian) talks twice as much as the side characters(Quagmire, Cleveland, and Joe) in an episode. %20 Quagmire’s words get censored since they were offensive. Using the following information, estimate the total number of words spoken by Peter and Quagmire in the show.

Your output should be:


```r
570240

```

In [1]:
Episode_Length<-30
Side_length<- Episode_Length/15
Main_length<- Side_length*2
total_words_Peter <- Main_length*120 
total_words_Quagmire<- Side_length*120/5
Total<-(total_words_Quagmire+total_words_Peter)*1080
Total

[1] 570240

## Question 5

Elif Sude and Berkay are students of economics in Boğaziçi University. They are conducting a research on their EC208 class, about developing countries. They have a dataset, given below, about some countries' national currency units exchange rate vs US Dollars and the subcontinents they are on. Elif Sude wants to study countries only in Asia and her mission is to decreasingly sort the Asian countries' exchange rates/USD.

- Singapore - 1.4 - Southeast Asia
- Albania - 113.0 - Eastern Europe
- Argentina	- 130.6 - South America
- Hong Kong	- 7.8 - East Asia
- Portugal - 0.9 - Southern Europe
- Korea	- 1291.4 - East Asia
- Madagascar - 4096.1 - East Africa
- Morocco	- 10.2 - North Africa
- Indonesia	- 14849.9 - Southeast Asia
- Saudi Arabia - 3.8 - Middle East (Asia)

To do what she wants,
Firstly, Elif Sude should put the exchange rates into a vector.
Then, Elif Sude will assign the exchange rates their countries.
And lastly, Elif Sude should subset the vector, so that she has only Asian countries left and then she should sort them decreasingly.

Your output should be,

```r

Indonesia   Korea   Hong Kong   Saudi Arabia   Singapore 
  14849.9  1291.4         7.8            3.8         1.4 

```

In [2]:
exchange_rates <- c(1.4, 113, 130.6, 7.8, 0.9, 1291.4, 4096.1, 10.2, 14849.9, 3.8)
names(exchange_rates) <- c("Singapore", "Albania", "Argentina", "Hong Kong", "Portugal", "Korea", "Madagascar", "Morocco", "Indonesia", "Saudi Arabia")
asian_exchange_rates <- exchange_rates[c(1, 4, 6, 9, 10)]
sort(asian_exchange_rates, decreasing = TRUE)

   Indonesia        Korea    Hong Kong Saudi Arabia    Singapore
     14849.9       1291.4          7.8          3.8          1.4

## Question 6

Ali, Hilal, Yunus, Ayten, Yasin and Azra applied to a company's internship announcement. This company will invite the three people with the highest GPA for an interview. The GPA of these 6 people is 3.92 , 2.78 , 3.84 , 3.11 , 2.97 , 3.55 respectively
Find out which students the company will select and the students' GPA.

Your output should be:


```r
 Ali Yunus  Azra 
 3.92  3.84  3.55 

```

In [7]:
gpa<-c(3.92 , 2.78 , 3.84 , 3.11 , 2.97 , 3.55)
names(gpa)<-c("Ali","Hilal","Yunus","Ayten","Yasin","Azra")
gpa

x <- sort(gpa,decreasing = T)
x[1:3]

  Ali Hilal Yunus Ayten Yasin  Azra
 3.92  2.78  3.84  3.11  2.97  3.55

  Ali Yunus  Azra
 3.92  3.84  3.55