## Q1

Write a function with the name "FtoC" that takes a temperature measurement in degrees Fahrenheit, and returns the equivalent value in degrees Celsius. Make sure that your function works with vector input, too.

**Answer:**

In [5]:
FtoC <- function(x) {
    celsius <- (x-32)* (5/9)
    return(celsius)
}

In [6]:
FtoC(35)
FtoC(c(42,68,97,42))

[1] 1.666667

[1]  5.555556 20.000000 36.111111  5.555556

## Q2

Write a function with the name bmi that takes two arguments, height and weight, and returns the body-mass index calculated with these argument values. The function should work with vector input, too.

**Answer:**

In [7]:
bmi <- function(height, weight) {
    bmi <- weight / (height ^ 2)
    return(bmi)
}

bmi(1.8, 85)

[1] 26.23457

## Q3

Write a function named range that takes a vector of numbers, and returns the difference between its minimum and the maximum elements. Test your function with some randomly-generated vectors.


**Answer:**

In [8]:
range <- function(vector) {
    range_output <- max(vector) - min(vector)
    return(range_output)
}

In [9]:
range(c(2,43,2323,828209,13))

[1] 828207

## Question 4

In the movie La La Land, there is a scene where Sebastian plays the piano in a jazz club and get fired afterwards . Suppose we want to analyze the notes that Sebastian plays during this scene, and identify the actual notes based on the piano keys. Every time Sebastion plays the piano there will be a new group of 6 notes.Write a function called saving_sebastian and try to make him play 2 different songs. Maybe this time he will not get fired.

-	 You should assign numbers from 1 to 7. These numbers represent the amount of each note played during the scene
-	You can use noquote function in order to get all the values as desired
-	You need to take the notes as follows: C, C#, D, D#, E, F



**Answer:**

In [2]:
saving_sebastian <- function() {
    notes_1 <- c("song_1","C", "C#", "D", "D#", "E", "F")
    amount_1 <- sample(1:7, 7,replace=TRUE)
    names(amount_1) <- notes_1

    notes_2 <- c("song_2","C", "C#", "D", "D#", "E", "F")
    amount_2 <- sample(1:7, 7,replace=TRUE)
    names(amount_2) <- notes_2
    output <- c(amount_1, amount_2)
    output[names(output) == "song_1"] <- ""
    output[names(output) == "song_2"] <- ""
    return(noquote(output))
}
saving_sebastian()

song_1      C     C#      D     D#      E      F song_2      C     C#      D
            1      3      5      6      6      5             6      5      6
    D#      E      F
     2      1      3

**Alternative solution:**

In [4]:
saving_sebastian <- function() {
    notes <- c("C", "C#", "D", "D#", "E", "F")
    amount <- sample(1:7, 6, replace=TRUE)
    names(amount) <- notes

    return(noquote(amount))
}
cat("Song 1")
saving_sebastian()
cat("Song 2")
saving_sebastian()

Song 1

 C C#  D D#  E  F
 2  1  3  4  3  7

Song 2

 C C#  D D#  E  F
 3  5  6  4  5  7

## Question 5

A businesswoman is looking for new investing opportunities. She wants to create a tool that would calculate FCFF(Free Cash Flow to the Firm) model -  a measurement of a company's profitability. Create a function called FCFF, which takes the company's financial indicators as inputs, and returns its FCFF. Assume a tax rate to be 30%.

Formula for calculating FCFF: $$FCFF=CFO+(IE×(1−TR))−CAPEX$$
where:
- CFO: Cash flow from operations
- IE: Interest Expense
- CAPEX: Capital expenditures

The companies for evaluation:
- Company A: 
 - $8.519 billion (operating cash flow), 

 - $3.349 billion (capital expenditure), 

 - $300 million (interest)

- Company B: 
  - $9.236 billion (operating cash flow),

  - $5.936 billion (capital expenditure),

  - $500 million (interest)

Which company should she invest to?

**Answer:**

In [10]:
FCFF <- function(cfo, ie, capex, tr=0.3) {
    
    return(cfo + (ie * (1-tr)) - capex)
    
}

Company_A <- FCFF(8519, 300, 3349)
Company_B <- FCFF(9236, 500, 5936)

Company_A
Company_B

[1] 5380

[1] 3650

## Question 6

Tayyip is an investor wanting to diversify his portfolio, and when he invests in a company, he wants to see the return rate in real terms. As a result, he chooses to write a function with two parameters: "inflation" and "return". Write Tayyip's function for him. You should provide an example real return value for a stock with a nominal return of 6% and inflation of 9%.

A stock's real return rate is computed by subtracting inflation from the nominal return.

**Answer:**

In [11]:
tayyip_function<-function(inflation,return)
{real_return<-return-inflation
 return(real_return)
 }
tayyip_function(9,6)

[1] -3

## Question 7

 Ayse wants to create a function for the savings system they have set for herself and her sister. According to this, they will first take the square root of the pocket money that is more than 100 TL and round it to the nearest integer, then multiply it by 5 and put it in the money box. Ayse and her sister collected 348 and 273 TL, respectively, during the feast. Accordingly, write the function that Ayse should create separately to find the amount they will put into the money box after the feast. 
 
 (Don't worry about a number that falls in the middle of two integers, the round() function rounds .5 to the nearest top value)

**Answer:**

In [12]:
saving_system <- function(x) {
    savings <- round(sqrt(x)) * 5
    return(savings)
    }

In [13]:
saving_system(348)
saving_system(273)

[1] 95

[1] 85

## Question 8

2 friends, Gizem and Esra, want to go to Antalya from Istanbul. Gizem suggests that they should go through Balıkesir but Esra thinks going through Kutahya is more economical. 

If they go through Balikesir, they have to travel 714 km and if they go through Kutahya, they will travel 692 km. However, their car would use 6.5 liters oil per 100 kilometers through Balıkesir and 6.6 liters oil per 100 km through Kutahya. 

Write a function that calculates how much these routes would cost them with different prices of oil. For instance, currently 1 liter of oil is 21.28 tl and if you put 21.28 as input your output should be:


```r
[1] "Cost of choosing Balikesir is 987.6048 TL and cost of choosing Kutahya is 971.90016 TL"
```

**Answer:**

In [15]:
economy = function(cost){
    x = (714 * 6.5 * cost) / 100
    y = (692 * 6.6 * cost) / 100
    z = paste("Cost of choosing Balikesir is", x , "TL, cost of choosing Kutahya is", y ,"TL")
    return (z)
}
economy(21.28)

[1] "Cost of choosing Balikesir is 987.6048 TL, cost of choosing Kutahya is 971.90016 TL"

## Question 9

Create a function that will swap _only_ the first and second values of a vector

Examples:

```r
vec1 <- c(1,2,3,4,5,6)
vec2 <- c('first', 'second', 'third', 'fourth')

Outputs:
1 2 3 4 5 6
"first"  "second" "third"  "fourth"
```
```r
swap(vec1)
swap(vec2)

Outputs:
2 1 3 4 5 6
"second" "first"  "third"  "fourth"
```

**Answer:**

In [16]:
swap <- function(vec) {
    vec[1:2] <- vec[2:1]
    return(vec)
}
vec1 <- c(1,2,3,4,5,6)
vec2 <- c('first', 'second', 'third', 'fourth')

swap(vec1)
swap(vec2)

[1] 2 1 3 4 5 6

[1] "second" "first"  "third"  "fourth"

## Question 10

Create a function to calculate break even amount of units to sold when fixed cost(FC) is 100 TL and variable cost(VC) per unit is 1.4 TL.

Function should take price, fixed cost, variable cost as arguments and return the number of units to sold. 

$$ Price \times Unit = Revenue$$
$$FC + VC \times Unit = Cost$$
$$Profit = Revenue - Cost$$

Run the function with different prices

*break-even: zero profit

In [17]:
break_even <- function(price, fc=100, vc=1.4) {
    
    # zero profit means: 
    # cost = revenue
    # fc + vc * unit = price * unit
    # fc = (price - vc) * unit
    
    unit = fc / (price - vc)
    
    return(unit)
    
    }

break_even(10)

[1] 11.62791

## Question 11

Write an R function, number.sequence(n), that returns a vector that has the form $2^2,3^2,4^2,\dots$ and has exactly n terms, as the sample output below suggests.

```r
> number.sequence(5)
[1] 4 9 16 25 36
```

In [18]:
number.sequence<-function(n){
    seq<-(1:n+1)^2
    return(seq)}
number.sequence(5)

[1]  4  9 16 25 36