In [ ]:
options(jupyter.rich_display = FALSE)

# LAB 02 - VECTORS

## Warm Up

Given the variables

```r
account_balance <- 1000
interest_rate <-  0.10
```
 
 update the variable **account_balance** by adding the interest and print the updated value.

An employee wants to calculate the raise in dollar amount and in percent (%) she got last week. 

```r
previous_salary <- 5000
current_salary <- 5200
```

show the raise (in dollars) and (in percent).

#  Vectors

## Initialization, Arithmetics & Functions

Let's initalize two vectors where **A** has 4, 6, 7 and **B** has 2, 14, 9.

Find the the results for: 

```r
A + B, 
A - B, 
A * B, 
A / B, 
2 * (A + B) - 3
```

Let's initialize vector **C** with values 5, 8, 11, 5, 2, 1

Find the results for:

```r
C > A
C + A
C + (B * 3)
```

Let's:

 1. add up all elements in **A**
 2. multiply all elements in **B**

_(hint: use built-in functions, `sum()` and `prod()`)_

## Vector Indexing

Let's initialize vector for the **students** of Beacon Hills High School (Jason, Lydia, Scott and Stiles) and print the vector.

Then add a new transfer student **"Allison"** to the vector and print the updated vector.

Finally show the number of students.

_Hint: You can use `length()` function_

Now, let's list the students:

 1. 1st student
 2. 3rd student 
 3. 2nd and 4th students
 4. from 2nd to 4th student

Now, list the students by excluding: 
 
 1. 5th student
 2. 2nd and 3rd students

use `TRUE` and `FALSE` statements to list the students:

 - 2nd and 4th students

## Named vectors

Let's create a new 
vector for the grades of the students in Beacon Hills High for the subject Math.

|Name|Grade|
|:---|:---:|
|Jason|46|
|Lydia|98|
|Scott|51|
|Stiles|84|
|Allison|unknown (because she just transferred)|

_Hint: You can use `names()` to assign names to a vector_

Now retrieve the grades of **Stiles** and **Scott**.

Let's assign a grade for **"Allison"** now that she took her first Math exam in Beacon Hills High which is **76**.

Show the grades vector **before** and **after** updating Allison's grade.

Now, let's find out the students that got grades **higher than 60** and their grades.

Suddenly, Math Proffessor decides to add up **5** points to students whose grades are lower than **60** for the sake of motivation for the next exam.

Show grades vector before and after updating it  accordingly.

Now Let's try to sort the grades vector in descending order.

_Hint: We will use another built-in function, `sort()`_

How about sorting grades vector based on students desk numbers?

First create a new vector for desk numbers.

|Name|desk number|
|:---|:---:|
|Jason|2|
|Lydia|1|
|Scott|5|
|Stiles|5|
|Allison|3|

Then use this new vector to sort **grades** vector.

_Hint: Use `order()` function._

Finally, let's remove **Scott** from the grades vector, because he decides to be a wanderer werewolf - no longer a student.

Show grades vector before and after removing **Scott**.

## Generating sequences

Create and store a sequence of values from 25 to 90 (increase by 1) by:

Use `seq()` function and `:` operator

Create and store a sequence of values from 5 to âˆ’11 that progresses in steps of 0.3.

## Exercises from Lecture

A set of temperature measurements are given in Fahrenheit scale as follows:

```r
    temperatures <- c(87, 89, 101, 91, 86, 71, 76)
```

Convert these measurements to Celsius scale.

Consider the following data

|Country|Area|Population|
|------|------|------|
|Russia|17,098,242|142,257,519|
|United States|9,833,517|326,625,791|
|China|9,596,960|1,379,302,771|                                    
|Brazil|8,515,770|207,353,391|                
|Australia|7,741,220|23,232,413|
|India|3,287,263|1,281,935,911|
|Turkey|783,562|80,845,215|
|France|643,801|67,106,161|
|Japan|377,915|126,451,398|
|United Kingdom|243,610|65,648,100|

1. Create two vectors **area** and **population** that hold the data in the respective columns. Label the elements in each vector with the country name.

2. Create a new vector called **density** that holds the population density of the countries.

3. Print the names of countries sorted by population density, in descending order (from highest to lowest).