In [ ]:
options(repr.plot.width=5, repr.plot.height=4)
options(jupyter.rich_display = FALSE)

# SEQUENCES, REPETITIONS AND RANDOM NUMBER GENERATION

## SEQUENCES

First take a look at the help of `seq()` function

In [ ]:
?seq

```r
seq(from = 1, to = 1, by = ((to - from)/(length.out - 1)), length.out = NULL)
```

You can use any two or three of the "from", "to", "by" and "length.out" arguments

### QUESTION 1

Create:
- A sequence of values from 1, of 20 values (length.out) and with steps of 3 (by), save in **seq_1** as such:

```r
> seq_1

[1]  1  4  7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58
```

- A sequence of values from 1 to 134 with steps of 7, save in **seq_2** as such:

```r
> seq_2

[1]   1   8  15  22  29  36  43  50  57  64  71  78  85  92  99 106 113 120 127
[20] 134
```

- A sequence of values to from 42 to 150 with 10 elements, save in **seq_3** as such:

```r
> seq_3

[1]  42  54  66  78  90 102 114 126 138 150
```

### ANSWER 1

## REPETITIONS

Take a look at the help of function `rep()`

In [ ]:
?rep

### QUESTION 2

Repeat:

- **seq_3** twice and save into object **seq_3a** as such:

```r
> seq_3

[1]  42  54  66  78  90 102 114 126 138 150  42  54  66  78  90 102 114 126 138
[20] 150
```


- each item of **seq_3** twice and save into object **seq_3b** as such:

```r
> seq_3b

[1]  42  42  54  54  66  66  78  78  90  90 102 102 114 114 126 126 138 138 150
[20] 150
```

### ANSWER 2

## RANDOM SAMPLES

Take a look at the help of `sample()` function:

In [ ]:
?sample

### QUESTION 3

First run:
```r
RNGversion("3.3.1")
```

- Set seed to 1923 with `set.seed(1923)`. Get a random sample of 10 items out of **seq_1**, without repetition, save into **samp_1** as such:

```r
> samp_1

[1] 16  1 28  4 40 43 37 46 52 10
```

- Set seed to 1977 with `set.seed(1977)`. Get a random sample of 10 items out of **seq_2**, with repetition, save into **samp_2** as such:

```r
> samp_2

[1]  64  71  92  15  57 127  50  57  29  57
```

### ANSWER 3

In [ ]:
RNGversion("3.3.1")
set.seed(1923)


RNGversion("3.3.1")
set.seed(1977)

# NAMES

## QUESTION 4

Name **samp_1** and **samp_2** with the first 10 letters (use built-in **letters** vector and `names()` function) as such:

```r
> samp_1

 a  b  c  d  e  f  g  h  i  j 
16  1 28  4 40 43 37 46 52 10 

> samp_2

  a   b   c   d   e   f   g   h   i   j 
 64  71  92  15  57 127  50  57  29  57 
```

## ANSWER 4

# ORDER AND SORT

## ORDER

### QUESTION 5

Get the ascending and descending orders of **samp_1** and save into **samp_1_asc** and **samp_1_desc** as such:

```r
> samp_1_asc

 [1]  2  4 10  1  3  7  5  6  8  9

> samp_1_desc

 [1]  9  8  6  5  7  3  1 10  4  2
```

##### ANSWER 5

### QUESTION 6

Subset **samp_1** using the **samp_1_asc** and **samp_1_desc** vectors as indices as such:

```r
> # Your code here

 b  d  j  a  c  g  e  f  h  i 
 1  4 10 16 28 37 40 43 46 52 
```

### ANSWER 6

## ORDER BY A DIFFERENT VECTOR

### QUESTION 7

Subset **samp_2** with the ascending order of **samp_1** vector (you can reuse **samp_1_asc**) as such:

```r
> # Your code here

 b   d   j   a   c   g   e   f   h   i 
 71  15  57  64  92  50  57 127  57  29
```

### ANSWER 7

# SUBSET BY CONDITION

## QUESTION 8

- Create a boolean vector of T/F values for whether **samp_1** values are **greater than 30** as such:

```r
> # Your code here

    a     b     c     d     e     f     g     h     i     j 
FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE 
```

- Subset **samp_1** values **greater than 30** as such:

```r
> # Your code here

 e  f  g  h  i 
40 43 37 46 52 
```

- Subset **samp_2** with the condition where **samp_1** values are **greater than 30** (Hint: subset **samp_2** using the condition in the above step!) as such:

```r
> # Your code here

 e   f   g   h   i 
 57 127  50  57  29 
```

## ANSWER 8

## QUESTION 9

Create **names** and corresponding **cities** vectors:

In [ ]:
names <- c("ahmet", "fatma", "mehmet")
cities <- c("izmir", "izmir", "istanbul")
names
cities

Subset names that matches **"izmir"** in cities vector as such:

```r
> # Your code here

[1] "ahmet" "fatma"
```

## ANSWER 9

# BASIC PLOTS

## Question 10 

GPA's of a graduating class of economics students are given in a normal distribution, with a mean of 2.94 and a standart deviation of 0.31. There are 79 students in total.  Draw a histogram of GPA's with 0.2 GPA per break. Make sure to show the limits of x axis clearly.

Hint : You should use the "xlim" parameter to specify the x axis limits.


Your output should be,
<img src="https://user-images.githubusercontent.com/116463479/224458684-7a84e085-7639-4d23-b4b0-53386d570b3e.png"  width="60%">

In [ ]:
RNGversion("3.3.1")
set.seed(2023)

## Question 11

- Generate a vector of 12 random integers (between 1 and 30) that represent the number of baby rabbits born in each month over one year period

- Create a vector of month names

- Plot a bar chart of the rabbit births

- Set the x-axis limits to include all months

- Use name.args() function in order to show months

- Set las=3 to see all the month names that you have

- Set the seed to 1907

Your output should look like:

<img src="https://user-images.githubusercontent.com/115809121/224556032-15e0710b-a15b-48a5-92f2-ea9b774ff05b.png"  width="60%">

In [ ]:
RNGversion("3.3.1")
set.seed(1907)

## Question 12

Imagine you are doing a research about the life expectancy of people, your respondents are 60 adults of full age. According to statictics, in 2020, life expectancy for women in Turkey was about 79 years, while life expectancy at birth for men was about 73 years on average.

Part 1:

  - Set the seed to 3 and use RNGversion "3.3.1".
  - Create two variables called "male" and "female", containing 30 random numbers representing the ages of people. 
  - Plot the relationship between Male and Female Life Expectancy as a scatter plot. e.g. Male on the x axis and Female on the y axis. 
  - Name the plot "Male and Female Life Expectancy". Name the axis accordingly. *Hint: main, xlab and ylab arguments are responsible for the labels
  - Represent male observations as blue circles and female observations as red squares.

Part 2:

*Additional task*. Visualise the Male and Female life expectancy on a barplot side by side. You can do it by adding beside = T argument to the function. Which plot (scatter or barplot) displays the data in a better way?
*Hint: you can use cbind() function to combine male and female samples

Your output should look like:
<img src="https://user-images.githubusercontent.com/126676056/225077584-8a980256-8111-40cc-8986-c697776a7511.png"  width="60%">

In [ ]:
RNGversion("3.3.1")
set.seed(3)


## Question 13

In a 2005 study, researchers tried to figure out possible muscular growth differences between individuals who performed the same exercises. Total of 243 males and 342 females have examined. Let's try to replicate the research on R. 

Steps:
1. Set RNGversion to "3.3.1" and seed to 1234
2. Create a **histogram** for males, which consists of 243 normally distibuted numbers with a mean of 20 and standard deviation of 10
3. Create a **histogram** for females, which consists of 342 normally distibuted numbers with a mean of 10 and standard deviation of 7
 
4. Plot males' histogram with given specifications:<br>
    - color: rgb(0,0,1,1/4)<br>
    - x axis boundaries: from -20 to 60<br>
    - y axis boundaries: from 0 to 100<br>
    - plot name: "Variability"<br>
    - x axis name: CSA Change (%)<br>
    - y axis name: Subjects
    
5. Plot females' histogram, set color to _rgb(1,0,0,1/4)_ <br>

    _(Hint: to add both histograms on the same plot, set "add=TRUE" in females' plot)_

Your output should look like this:<br>
<br>
<img src="https://user-images.githubusercontent.com/77977634/225111005-3fb99643-193e-4564-bc5e-e4e3e8217293.png"  width="60%">

In [ ]:
RNGversion("3.3.1")
set.seed(1234)

## Question 14
#set.seed(1923) and RNGversion("3.3.1"),
Create an uniformal distrubated vector which is between 1 and 30, and contains 15 elements. Sample 10 elements out of this vector.
Then, find the elements which are higher than 10, and delete them from the vector.
Show the last version of your vector.

Your solution should be: </br>[1] 1.825429 9.701460

In [ ]:
set.seed(1923)
RNGversion("3.3.1")

## Question 15

In a roulette game, there are 37 slots which are from 0 to 36. 0 is painted by green, odd numbers are painted by red and even numbers are painted by black. For each turn,  croupier starts the wheel spinning and ball falls and comes to rest between any two metal portions of the wheel and it marks the winning number and color. Simulate a roulette game 100 times. Then draw a histogram of simulation and show how many times each number won. Change the color of breaks according to their roulette color. Set the seed to 100, and set RNGversion("3.3.1")

Your output should be:

<img src="https://user-images.githubusercontent.com/126677248/225126378-c94de7c7-cf0f-49d6-a8e3-8a3b39c61208.png"  width="60%">

In [ ]:
RNGversion("3.3.1")
set.seed(100)