## Question 1

You have been given the "mtcars" dataset in R, which contains information about various models of cars. How can you display the first 6 rows of the "mtcars" data frame with only the columns "mpg", "cyl", "wt", and "gear"?

## Question 2

Using the "mtcars" data set in R, take the mean of miles per gallon of each cylinder and transmission combination (4 cyl, automatic; 6 cyl, manual, etc.)

Hint : Use the aggregate() function.

## Question 3

Using the “mtcars” dataset in R, extract the rows where the number of cylinders is greater than or equal to 6, and the miles per gallon is greater than 15. Assing the resulting data frame to a new variable called “mtcars_high”.

## Question 4

You are given the built-in dataset ChickWeight in R, which contains information about the growth of birds over time, including their weight, age, and diet. Download the dataset and solve the following tasks:

- Create a new column that calculates the weight gain of each bird over time.

- Find the maximum weight gain of any chick. 

*Hint*: set na.rm parameter of the max() function to TRUE (na.rm: a logical indicating whether missing values should be removed)

- Create a new data frame that summarizes the average weight gain of chicks by diet.

## Question 5

Suppose you have a data frame called "sales" that contains the following variables:

month: the month in which a sale was made (either "January", "February", "March", or "April")

product: the type of product sold (either "A", "B", or "C")

units_sold: the number of units sold in each transaction (the number of sales can be between 1 and 10)

price_per_unit: the price per unit in US dollars (prices must be between 5 and 15 and integer, can be done using runif() )

Write R code to perform the following tasks:

1. Create a data frame with 20 observations for the variables "month", "product", "units_sold", and "price_per_unit".

2. Display the data frame.

3. Calculate the total revenue and display the results.

4. Create a new variable called "is_product_A" that indicates whether each observation corresponds to product A (TRUE) or not (FALSE).

5. Create a new data frame called "march_sales" that contains only the observations for the month of March.

## Question 6

Below are two data frames, ```df1``` and ```df2```, containing information about students. 

```df1``` contains information about the students' names, majors, and grades in Math and Science, while ```df2``` contains information about the students' names, majors, and grades in English and History. 

Merge these data frames into a single data frame called ```df_merged``` that contains all of the information, and also calculate the average grade for each student and add the average to a new column.

```df1``` is:

| Name    | Major | Math | Science |
| -----   | ---   | ---- | ------- |
| Alice   |  EC   |  80  | 90 |
| Bob     |  MGMT |  90  | 80 |
| Charlie |  POLS |  70  | 75 |

```df2``` is:

| Name    | Major | English | History |
| -----   | ---   | ----    | ------- |
| Alice   |  EC   |    85   |    90   |
| Charlie |  POLS |    75   |    80   |
| Dave    |  EC   |    80   |    85   |

Your output should look like:

```r
     Name Major Math Science English History AvgGrade
1   Alice    EC   80      90      85      90    86.25
2     Bob  MGMT   90      80      NA      NA    85.00
3 Charlie  POLS   70      75      75      80    75.00
4    Dave    EC   NA      NA      80      85    82.50
```

## Prep 

Run the following code

In [ ]:
install.packages("nycflights13")
library(nycflights13)
flights <- as.data.frame(flights)
head(flights)

In [ ]:
# We can also view the structure of our data frame as such:

str(flights)

## Question 8

Combine the year, month and day information into a new column called dates. 

Then, create a new column called weekdays which shows which day of the week each flight has taken place.

Report the first six rows of your data frame as such:

```R
> head(flights)

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier tailnum flight origin dest air_time distance
1 2014     1   1      914        14     1238        13         0      AA  N338AA      1    JFK  LAX      359     2475
2 2014     1   1     1157        -3     1523        13         0      AA  N335AA      3    JFK  LAX      363     2475
3 2014     1   1     1902         2     2224         9         0      AA  N327AA     21    JFK  LAX      351     2475
4 2014     1   1      722        -8     1014       -26         0      AA  N3EHAA     29    LGA  PBI      157     1035
5 2014     1   1     1347         2     1706         1         0      AA  N319AA    117    JFK  LAX      350     2475
6 2014     1   1     1824         4     2145         0         0      AA  N3DEAA    119    EWR  LAX      339     2454
  hour min      dates weekdays
1    9  14 2014-01-01      Çar
2   11  57 2014-01-01      Çar
3   19   2 2014-01-01      Çar
4    7  22 2014-01-01      Çar
5   13  47 2014-01-01      Çar
6   18  24 2014-01-01      Çar
```

*Hint: You can use ``with()`` for the first part and ``weekdays`` for the second part.*

## Question 9

Using **flights**, create a data frame called **dep_delay_origin_dest2** that shows the count of flights and the average departure delay for each origin and destination pair as such:

```R
> head(dep_delay_origin_dest2)

  origin dest count av_dep_delay
1    JFK  ABQ   278    15.316547
2    JFK  ACK   277     4.277978
3    LGA  AGS     3    -1.333333
4    EWR  ALB   169    21.538462
5    EWR  ANC    13    12.615385
6    EWR  ATL  4182    17.602822
```

*Hint: Use the function ``aggregate()``.*

## QUESTION 10

Using **dep_delay_origin_dest2**, report 

- The most active 10 airport pairs in terms of flight counts in a data frame called **most_active**
- The most delaying 10 airport pairs in terms of average departure delays in a data frame called **most_delayed**

These two matrices should be in decreasing order in their respective criteria.

```R
> most_active

    origin dest count av_dep_delay
109    JFK  LAX 10208     8.359718
195    JFK  SFO  7368    11.741178
146    LGA  ORD  7052    12.708026
8      LGA  ATL  6925    13.813574
126    LGA  MIA  5084     6.030488
194    EWR  SFO  4539    16.530293
115    JFK  MCO  4467    13.477726
20     EWR  BOS  4268    11.265933
108    EWR  LAX  4226    15.882631
6      EWR  ATL  4182    17.602822
```

```R
> most_delayed

    origin dest count av_dep_delay
102    JFK  JAC     1    322.00000
68     LGA  DSM     1    125.00000
13     EWR  AVP     1     83.00000
121    LGA  MEM     3     54.33333
73     JFK  EGE    85     43.32941
217    LGA  TVC    36     37.94444
36     EWR  CAE    21     36.09524
218    EWR  TYS   238     32.81513
130    LGA  MSN   188     29.31915
215    EWR  TUL   201     28.89552
```

## Question 11


- Merge the **flights** and **dep_delay_origin_dest2** data frames into **flights2**, so that we have the count of flights and average departure delay for each airport pair on all rows.
- Create a new column **dev_delay** which will show the difference between the departure delay and the average departure delay for each row.

Then report the first 10 rows of **flights2** in decreasing order as such:

```R
       origin dest year month day dep_time dep_delay arr_time arr_delay cancelled carrier tailnum flight air_time
26298     EWR  DFW 2014    10   4      727      1498     1008      1494         0      AA  N4WJAA   1381      200
94999     JFK  BOS 2014     4  15     1341      1241     1443      1223         0      AA  N3FNAA    256       39
3809      EWR  ATL 2014     7  14      823      1087     1046      1090         0      DL  N966AT    673       97
24951     EWR  DFW 2014     6  13     1046      1071     1329      1064         0      AA  N502AA   2488      175
26816     EWR  DFW 2014     9  12      636      1056     1015      1115         0      AA  N548AA   1642      198
24850     EWR  DFW 2014     6  16      731      1022     1057      1073         0      AA  N491AA    320      178
128692    JFK  MCO 2014     2  21      844      1014     1151      1007         0      DL  N983DL   2459      139
105903    JFK  DEN 2014     2  15     1244      1003     1517       994         0      DL  N3747D    475      242
26848     EWR  DFW 2014     6  11     1119       989     1411       991         0      AA  N569AA   1691      194
223331    LGA  MIA 2014     1   2     1108       973     1456       996         0      DL  N980DL   2139      156
       distance hour min      dates weekdays count av_dep_delay dev_delay
26298      1372    7  27 2014-10-04      Cmt  2224    16.616906 1481.3831
94999       187   13  41 2014-04-15      Sal  4111    11.584529 1229.4155
3809        746    8  23 2014-07-14      Pzt  4182    17.602822 1069.3972
24951      1372   10  46 2014-06-13      Cum  2224    16.616906 1054.3831
26816      1372    6  36 2014-09-12      Cum  2224    16.616906 1039.3831
24850      1372    7  31 2014-06-16      Pzt  2224    16.616906 1005.3831
128692      944    8  44 2014-02-21      Cum  4467    13.477726 1000.5223
105903     1626   12  44 2014-02-15      Cmt   579    18.226252  984.7737
26848      1372   11  19 2014-06-11      Çar  2224    16.616906  972.3831
223331     1096   11   8 2014-01-02      Per  5084     6.030488  966.9695
```