## Question 1

You remember Ayşe and Fatma from the week we studied Lists. Since then Ayşe has learned about Factors, and wants you to update the list to have factors on the regularity part. So you should update the part of regularity to a factor, which has two options, Regular or Irregular.

The original list was created with the code:

```r
students <- list(
  Ayşe = list(name = "Ayşe", gpa = 3.4, regularity = "Irregular"),
  Fatma = list(name = "Fatma", gpa = 3.3, regularity = "Regular")
)
```

Your output when you call students should be:

```r
$Ayşe
$Ayşe$name
[1] "Ayşe"

$Ayşe$gpa
[1] 3.4

$Ayşe$regularity
[1] Irregular
Levels: Irregular Regular


$Fatma
$Fatma$name
[1] "Fatma"

$Fatma$gpa
[1] 3.3

$Fatma$regularity
[1] Regular
Levels: Irregular Regular
```

##  QUESTION 2

A chocolate store lists their 3 main types of chocolates: white chocolate, milk chocolate, dark chocolate. However, they wrote the same type of chocolate wth both uppercase and lowercase letters. They want to eliminate these differences in the levels.

1) Copy this vector below containing the listed chocolate categories.

```r 
chocolates <- c("white"  ,"milk", "white", "Dark", "Milk", "White", "dark", "white", "white", "milk")
```

2) Convert the information of chocolate categories into a factor named **choco_factor**.

3) Overwrite all the occurances of the types of chocolates starting with uppercase letters with lowercase versions.

4) Delete the old levels of the categories starting with uppercase letters and see the resulting factor to be like the one below:

```r 
 [1] white milk  white dark  milk  white dark  white white milk 
Levels: dark milk white

```

In [1]:
#1
chocolates <- c("white"  ,"milk", "white", "Dark", "Milk", "White", "dark", "white", "white", "milk")

#2


#3


#4

## Question 3
Imagine you have a data about movies watched by a user of a streaming service in a month. Create a function called check_movies, that:
1. Takes a vector containing movie categories
2. Transforms it into a factor object
3. Creates a frequency table that shows the movies watched by a user in decreasing order
4. Returns the two most watched movie genres

For example if your input is:
```r
set.seed(3)

movies_watched <- sample(c("Adventure", "Sci-Fi", "Comedy", "Horror", "Drama", "Romance"), 20, replace = TRUE)
```
Your output should be:
```r
The two most frequent categories are: Drama and Sci-Fi
```

*Hint: use cat() function so that your result is shown in the required format

In [ ]:
set.seed(3)
movies_watched <- sample(c("Adventure", "Sci-Fi", "Comedy", "Horror", "Drama", "Romance"), 20, replace = TRUE)

check_movies <- function(movies_watched){

}

check_movies(movies_watched)

## Question 4
Suppose you have a data frame called "students" that contains information about students including their names and their grades (as numeric values) on a certain test. How can you convert the "grades" column to a factor in R with custom levels based on grade categories?

Here's the sample data frame:
```r
students <- data.frame(
  name = c("John", "Jane", "Bob", "Alice", "Mark", "Emily"),
  grade = c(82, 91, 78, 65, 93, 87)
)

```
(0,60] = F, (60, 70] = D, (70, 80] = C, (80, 90] = B (90, 100] = A 

Your output should be:
```r
    name grade
1   John     B
2   Jane     A
3    Bob     C
4  Alice     D
5   Mark     A
6  Emily     B

```

In [3]:
students <- data.frame(
  name = c("John", "Jane", "Bob", "Alice", "Mark", "Emily"),
  grade = c(82, 91, 78, 65, 93, 87)
)

## Question 5
Question:
A sales team has recorded the sales figures of five products over the past week. The following table shows the product names and the corresponding number of units sold:

```r
Product Name	Number of Units Sold
Product A	        25
Product B       	15
Product C       	10
Product D	        30
Product E       	20
```
Create a factor variable that represents the products sold and assign it to a variable called "products". Then, determine the product with the highest number of units sold and store its name in a variable called "best_product".

In [4]:
product_names <- c("Product A", "Product B", "Product C", "Product D", "Product E")
units_sold <- c(25, 15, 10, 30, 20)

## Question 6

You have a dataset containing information about students, including their names and exam grades. The grades are represented as numeric values ranging from 0 to 100. Write an R code  that converts the 'grade' variable into a factor, with the levels 'AA', 'BA', 'BB', 'CB', 'CC', 'DC', 'DD' and 'F' according catalog grading system. (90 or more is equals AA then for every 5 point decreasing letter grade level decreases 1.) Finally, calculate the frequency count of each grade level in the dataset.

The student dataset:

```r
students <- data.frame(
  name = c("Ali", "Bora", "Ceren", "Dilara", "Ece", "Furkan", "Gizem", "Helin", "Irem", "Jale", "Kemal", "Lale", "Mert", "Nil", "Ozan"),
  grade = c(78, 73, 65, 82, 94, 55, 46, 90, 81, 88, 75, 61, 69, 70, 76))
```

In [5]:
students <- data.frame(
  name = c("Ali", "Bora", "Ceren", "Dilara", "Ece", "Furkan", "Gizem", "Helin", "Irem", "Jale", "Kemal", "Lale", "Mert", "Nil", "Ozan"),
  grade = c(78, 73, 65, 82, 94, 55, 46, 90, 81, 88, 75, 61, 69, 70, 76))

##  QUESTION 7

Nisan is an analyst at TempRecords, a company that observes the effects of climate change. The temperature fluctuated a lot in the past year. The average temperatures recorded in each month of the previous year are as follows:

|Month|Average Temperature|
|:--:|:--:|
|January|8.2|
|February|5.4|
|March|6.6|
|April|12.5|
|May|18.2|
|June|21.7|
|July|25.2|
|August|26.0|
|September|14.8|
|October|10.1|
|November|11.5|
|December|7.3|

1) Create two vectors using the data provided in the table with the names **months** and **avg_temp**.


2) Factorize average temperatures by using the **avg_temp** vector and name your factor **temp_factor**. Print the summary. 

Temperatures below 7 degrees should be assigned to **"Low"**, temperatures above 7 degrees and below 18 degrees should be assigned to **"Medium"** and temperatures above 18 degrees should be assigned to **"High"**.

```r
> summary(temp_factor)
   Low Medium   High 
     2      6      4 
```

*Hint: You can use the function ``cut()``.*

3) Assign the names of the months in each category to a list called **which_months** and print it:

```r
> which_months
$Low
[1] "February" "March"   

$Medium
[1] "January"   "April"     "September" "October"   "November"  "December" 

$High
[1] "May"    "June"   "July"   "August"
```

In [6]:
#1
months <- c("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
avg_temp <- c(8.2, 5.4, 6.6, 12.5, 18.2, 21.7, 25.2, 26.0, 14.8, 10.1, 11.5, 7.3)

#2


#3

## QUESTION 8

1) Create a factor **ex_fac** using the following information about the intensities of the daily exercises done by an individual in a week. 

| days      | intensity |
|-----------|-----------|
| monday    | intense   |
| tuesday   | light     |
| wednesday | none      |
| thursday  | intense   |
| friday    | light     |
| saturday  | none      |
| sunday    | none      |

2) Create a function **weekly_ex** which takes a factor argument **f** that contains the intensity of the daily exercises that a person does in a week. Your function should find the days of the week that the individual works out (so the intensity must be "intense" or "light") and submit those days in a list's first element which has **"well_done"** as a name. Then it should find the days that the individual does not work out (so the intensity must be "none") and submit those in the list's second element that has **"shame"** as a name. Lastly, your function should replace the "none"s in the factor **f** with "light"s and submit the new factor in the last element of the list which has a name of **"next_week"** (remember doing the necessary arrangement in the levels of the factor). 

3) Try your function with **ex_fac**. Output must be as such:
```r
> weekly_ex(ex_fac)

$well_done
[1] "monday"   "tuesday"  "thursday" "friday"  

$shame
[1] "wednesday" "saturday"  "sunday"   

$next_week
[1] intense light   light   intense light   light   light  
Levels: light intense

```

In [7]:
#1

#2


#3

## QUESTION 9

Zoom would like to know the demographic of the people using their application for their studies in Turkey. They selected 8 people randomly, whose information is provided below:

|Name|Age|Purpose|
|:--:|:--:|:---:|
|Cemal|55|Entertainment|
|Derya|34|Class|
|Hande|19|Class|
|Mehmet|17|Entertainment|
|Mine|27|Work|
|Furkan|10|Class|
|Helen|13|Class|
|Fatma|63|Work|



1) Vectorize the data in this table with the names **Name**, **Age**, and **Purpose**.


2) Convert the **Age** vector into a factor and name it **Age_Factor**.


3) Convert the **Purpose** vector into a factor and name it **Purpose_Factor**.


4) Zoom wants to combine the students and workers using this app into a single category in order to compare people who are using Zoom professionally or for entertainment. Combine them under the name **Professionally**.


5) Create a data frame using the factors you have created in the previous steps and name it **zoom**. Your data frame should look like this.

```r
> zoom

    Name Age        Purpose
1  Cemal  55  Entertainment
2  Derya  34 Professionally
3  Hande  19 Professionally
4 Mehmet  17  Entertainment
5   Mine  27 Professionally
6 Furkan  10 Professionally
7  Helen  13 Professionally
8  Fatma  63 Professionally
```


6) Use the `summary()` function to show Zoom the general overview of the users.

```r
> summary(zoom)

     Name                Age              Purpose 
 Length:8           10     :1   Entertainment :2  
 Class :character   13     :1   Professionally:6  
 Mode  :character   17     :1                     
                    19     :1                     
                    27     :1                     
                    34     :1                     
                    (Other):2        
```

In [8]:
#1
Name <- c("Cemal", "Derya", "Hande", "Mehmet", "Mine", "Furkan", "Helen", "Fatma")
Age <- c(55, 34, 19, 17, 27, 10, 13, 63)
Purpose <- c("Entertainment", "Class", "Class","Entertainment", "Work", "Class", "Class", "Work")

#2


#3


#4


#5

#6

## Question 10 

Suppose you are given a data frame with two columns: one contains the type of fruit and the other contains the weight of the fruit in grams, such as:

```r
df <- data.frame(Fruit = c("Apple", "Banana", "Orange", "Apple", "Orange", "Orange", "Banana"),
                 Weight = c(50, 100, NA, 75, 85, 80, NA))
```
Apply below steps to this data frame:
1) Convert the fruit column to a factor and calculate the average weight of each fruit type. 
2) As the data contains some missing values in the weight column, replace these missing values with the average weight of the same fruit type. 
3) Finally, print the average value for each fruit type using `tapply()` function.

In [9]:
df <- data.frame(Fruit = c("Apple", "Banana", "Orange", "Apple", "Orange", "Orange", "Banana"),
                 Weight = c(50, 100, NA, 75, 85, 80, NA))